```{css}
h1.title {
  color: #800000;
  background-color: #F5F5F5;
  opacity: 0.6;
  font-family: Times New Roman;
  font-size: 40px;
}
h4.author {
  color: #708090;
  font-family: Times New Roman;
}
h4.date{
  color: #708090;
  font-family: Times New Roman;
}
```